@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
body {
  background-color: black;
  font-family: "Press Start 2P", cursive;
  font-weight: 400;
  font-style: normal;
}
#controls {
  text-align: center;
  margin-bottom: 20px;
}
#controls label {
  color: #00ff00;
}
#controls select {
  background-color: black;
  color: #00ff00;
  border: 2px solid #00ff00;
  font-family: "Press Start 2P", cursive;
}
#controls button {
  font-family: "Press Start 2P", cursive;
  background-color: #00ff00;
  border: none;
  color: black;
  padding: 10px 20px;
  margin-top: 10px;
}
#game_container {
  display: flex;
  justify-content: center;
  position: relative;
}
#gameCanvas {
  border: 5px solid #00ff00;
  width: 1600px;
  height: 800px;
}
#leaderboard {
  background-color: rgba(0, 0, 0, 0.5);
  color: #00ff00;
  padding: 10px;
  border: 5px solid #00ff00;
  z-index: 10;
  font-family: "Press Start 2P", cursive;
}
.modal-content{
  background-color: black;
  border: 2px solid #00ff00;
}
.modal-content {
  text-align: center;
}
.modal-footer {
  justify-content: center;
}