.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
h2 {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
#highest-title {
  transition: opacity 0.3s ease;
}
.table-responsive {
  width: 100%;
}
.table {
  font-family: "Press Start 2P", cursive;
  width: 100%;
}
hr {
  width: 100%;
  border-color: #00ff00;
}
