.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.btn {
  font-family: "Press Start 2P", cursive;
}
.form-control {
  background-color: black;
  color: #00ff00;
  border: 2px solid #00ff00;
}
.form-control::placeholder {
  color: #00ff00;
}
a {
  color: #00ff00;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.google-btn {
  background-color: white;
  color: black;
  font-family: "Press Start 2P", cursive;
  margin-top: 10px;
}
.google-btn img {
  margin-right: 10px;
}
